.spotifyBtns {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 100%;
  text-align: center;
  cursor: pointer;
  border-radius: 80px;
  background-color: white;
  padding: 16px 36px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.spotifyBtns:hover {
  background-color: #f0f0f0;
  transform: scale(1.09);
}

.yellowButtonContainer {
  display: flex;
  margin-bottom: 2px;
}

.yellowButtonContainer:hover {
  /* background-color: #f0f0f0; */
}

.yellowButtonContainer.noBg .spotifyBtns {
  color: rgb(179, 179, 179);
  background-color: transparent;
}

.yellowButtonContainer.whiteBgwithThinPadding .spotifyBtns {
  font-size: 14px;
  padding: 8px 19px;
}

.navButtonContsiner {
  display: flex;
}
