.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    90deg,
    rgb(175, 40, 150),
    rgb(80, 155, 245)
  );
  padding: 8px 1.5rem;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 890px) {
  .footerSignup {
    display: none;
  }

  .footer {
    padding: 1rem 1.5rem;
  }
}
