.container {
  display: flex;
  height: calc(100vh - 80px);
  overflow: hidden;
  margin-bottom: 60px;
}

.sidebar {
  position: relative;
  height: 100%;
  border-radius: 5px;
  min-width: 250px;
  max-width: 400px;
  width: 20%;
}

.resizer {
  position: absolute;
  top: 10px;
  right: 0;
  width: 1px;
  height: 100%;
  cursor: ew-resize;
  background-color: transparent;
}

.resizer:hover {
  cursor: grab;
  border: 1px solid white;
}

.mainContent {
  flex: 1;
  overflow-y: auto;
  scrollbar-width: 3px;
  background-color: #121212;
  margin: 10px;
  border-radius: 4px;
}

@media (max-width: 695px) {
  .sidebar,
  .resizer {
    display: none;
  }

  .container {
    height: calc(100vh - 60px);
  }
}
@media (max-width: 460px) {
  .container {
    height: calc(100vh - 80px);
  }
}
